/* Blah Homepage CSS */

* {
    margin: 0px;
    padding: 0px;
}

.header {
    color: black;
    background-color: white;
    font-family: "Optima", sans-serif;
    font-size: 30px;
    width: 100%;
    text-align: center;
    position: fixed;
    border: 10px solid white;
}

.para {
    text-align: center;
    font-family: "Optima", sans-serif;
    font-size: 30px;
}

a:link {
    text-decoration: none;
}

.dropdown {
    font-size: 36px;
    position: fixed;
    background-color: white;
    left: 10px;
    top: 10px;
}

/* Drop-down menu appearance */
.dropdown-content {
    font-size: 20px;
    /*display: none;*/
    display: inline-block;
    position: absolute;
    background-color: white;
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

/* Drop-down menu text appearance */
.dropdown-content a {
    color:black;
    background-color:white;
    padding: 25px 50px;
    text-decoration: none;
    font-family: "Optima", sans-serif;
    text-align: center;
    display: block;
}

.dropdown-content a:hover {
    font-size: 20px;
    background-color: black;
    color: white;
    border: 2px solid pink;
}

.menu-bars {
    border: none;
}

/*.dropdown:hover .dropdown-content {*/
.dropdown > .menu-bars:focus + .dropdown-content {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.social_media {
    font-size: 42px;
    color: black;
    background-color: white;
    position: fixed;
    right: 10px;
    top: 10px;
}

.garment{
    display: flex;
    justify-content: space-between;
    margin: 0% 12.5%;
}
