/* Blah Homepage CSS */

*{
    margin: 0px;
    padding: 0px;
}

.header{
    color: black;
    background-color: white;
    font-family: "Gotham Rounded", "Courier New", monospace;
    font-size: 36px;
    width: 100%;
    text-align: center;
    position: fixed;
    border: 10px solid white;
}

/*
.image_main{
    padding: 50px 0px;
    width: max-content;
}
*/

.para{
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 30px;
}

a:link{
    text-decoration: none;
}

.dropdown{
    font-size: 36px;
    position: fixed;
    background-color: white;
    left: 10px;
    top: 10px;
}

/* Drop-down menu appearance */
.dropdown-content{
    font-size: 20px;
    display: none;
    position: absolute;
    background-color: white;
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Drop-down menu text appearance */
.dropdown-content a{
    color:black;
    background-color:white;
    padding: 25px 50px;
    text-decoration: none;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    display: block;
}

.dropdown-content a:hover{
    font-size: 20px;
    background-color: black;
    color: white;
    border: 2px solid pink;
}

.dropdown-content a:active{
    background-color: white;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}

.social_media{
    font-size: 36px;
    color: black;
    background-color: white;
    position: fixed;
    right: 10px;
    top: 10px;
}

.garment{
    display: flex;
    justify-content: space-between;
    margin: 0% 12.5%;
}
