*   /* '*' without any uniqueID is the universal selector */
{
    text-align:center;
}

body, h1 /* separate selector with comma to use grouping selector */
{
    background-image:url("ocean.jpeg");
    color:rgb(250, 249, 249);
    font-family: "Lucida Console", monospace;
}


div
{
    background-color: gold;
}

p
{
    color:aqua;
    margin-left:20px;
    /* background-color:#000000; /* hex color format #rrggbb (00-FF), can also be #rgb */
    font-size:xx-large;
}

#para1 /* Use the #uniqueID format for specifying unique element formatting */
{
    color:blueviolet;
    margin-left:20px;
    background-color: white; /* rgb color format, several others available */
    font-size:xx-large;
}

.CSS_Class /* use .uniqueID format for declaring a class */
{
    color:darkgreen;
    border:20px hsl(0, 100%, 50%); /* hsl format (hue, saturation, lightness) */
}

p.align_class /* classes can be setup to only affect specific html elements as well */
{
    text-align:left;
}

